body{
    width: 100%;
	font:12px "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    color: #696969;
    background:#70828f url(../images/account/bg.png) no-repeat left -230px;
}

/* login   
----------------------------------------------------------*/
.loginblock, .logininfoblock{
    width:34em;
    margin:0 auto;
    margin-top:1.6em;     
     
}
.block-header{
    height:3em;
    line-height:3em;
    text-align:center;
    font-weight:bold;
    color:#fff;
    font-size:2em;
    font-family:"Trebuchet MS", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, sans-serif;
    border-top:1px solid #9bd2ee;
    border-bottom:1px solid #b5b3b4;
    background:url(../images/account/block-header-bg.png) repeat-x left center;   
}
.block-content .h1legend{
    position:absolute;
    top:0.2em;
    left:1.1em;
    z-index:100;
    color:#fff;
    font-size:1.5em;
    font-family:"Trebuchet MS", "Lucida Sans Unicode", "Lucida Sans", Arial, Helvetica, sans-serif;
    padding: 0.21em 0.44em 0.16em 0.44em;
    border-top:1px solid #50a3c8;
    border-right:1px solid #297cb4;
    border-bottom:1px solid #083f6f;
    border-left:1px solid #297cb4;
    background:url(../images/account/title-bg.png) repeat-x left center; 
    border-radius:0.27em;
    box-shadow:0px 1px 3px rgba(0,0,0,0.5);
}
.dark-content{
    color:#fff;
    background:url(../images/account/content-dark-bg.png) repeat-x left center; 
    padding:1.5em 2em 1.2em;
}
.dark-content p{
     background:url(../images/account/Info.png) no-repeat left center; 
     padding:0.16em 2.5em 0.5em;
     font-size:13px;
     margin:0px;
     
}
/* misc   
----------------------------------------------------------*/
.block-border{
    border:1px solid #fff;
    background:url(../images/account/white20.png) repeat left top;
    padding:0.83em; 
    position:relative;   
}
.block-content{
    overflow:auto;
    border:1px solid #999;
    background-color:#fff;
}
.border-shadow{
    -moz-border-radius: 0.6em; 
    -webkit-border-radius: 0.6em;
    -moz-box-shadow:0 0 0.5em rgba(0, 0, 0, 0.5); 
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); 
    border-radius:0.6em;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}.border-round{
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px;
    border-radius:0.3em;
}

/* ELEMENTOS DE DISEÑO PRIMARIO   
----------------------------------------------------------*/
#main{
    _height: 1px; /* solo IE6 aplica las propiedades de CSS con un carácter de subrayado inicial */
}
.tablelayout{margin-top:20px;}
.tablelayout, .tablelayoutC{
    width:100%;    
}
.tablelayout td, .tablelayoutC td {
    padding:5px 10px;    
}
.tablelayout td label{
    font-size:13px;
    font-weight:bold;
    color:#000;    
}
.tablelayoutC td label{
    font-size:13px;    
}
.tablelayoutC td .buttonConstellation
{
    float:right;    
    margin-right:10px;
}
/* ELEMENTOS DE DISEÑO DE FORMULARIOS  
----------------------------------------------------------*/

.fieldset-with-legend{
    border:1px solid #d9d9d9;
}.fieldset-with-legend legend{
    padding:0.16em 0.5em 0.25em;
    background:#e7e7e7 url(../images/account/legend-bg.png) repeat-x 50% top;
    color:#666;    
    border:1px solid #fff;
    margin-left:0.83em;
    .margin-left:0.4em;
    border-radius:0.41em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor:pointer;
}.ie .fieldset-with-legend legend{
    border-color:#ccc;    
}
.fieldset-with-legend legend span.up
{
    background:url(../images/account/chevron-off.png) no-repeat right center;
    padding-right:25px;    
}
.fieldset-with-legend legend span.up:hover
{
    background:url(../images/account/chevron.png) no-repeat right center;    
    color:#39c;
}
.fieldset-with-legend legend span.down
{
    background:url(../images/account/chevron-expand-off.png) no-repeat right center;
    padding-right:25px;    
}
.fieldset-with-legend legend span.down:hover
{
    background:url(../images/account/chevron-expand.png) no-repeat right center;    
    color:#39c;
}
.fieldset-content{ 
    padding-bottom:1.66em;
    padding-top:1.5em;
}
.gray-bg
{
    background-color:#e6e6e6; 
    border-top:1px solid #999 !important;   
}
input[type="text"], input[type="password"], select 
{
    width: 200px;
    border: 1px solid #89bad3;
    padding:0.4em 0.5em;
    color:#333;
    line-height:1em;
    border-radius:0.41em;
    background:url(../images/account/input-bg.png) repeat-x left center; 
}input[type="text"]:focus, input[type="password"]:focus, select:focus {
    border-color:#39c;    
}
select{
    padding-bottom:0.3em;  
    padding-top:0.3em;
    width: 215px;  
}
.buttonConstellation{
    display:inline-block;
    cursor:pointer;
    border-radius:0.33em;
    border-shadow:0px 1px 4px rgba(0,0,0,0.4);
    border-top:1px solid #50a3c8;
    border-right:1px solid #297cb4;
    border-bottom:1px solid #083f6f;
    border-left:1px solid #297cb4;
    color:#fff;
    font-weight:bold;
    font-size:1.15em;
    line-height:1.42em;
    padding:0.22em 1em 0.28em;
    background:url(../images/account/button-element-bg.png) repeat-x left center;     
}
.buttonConstellation:hover{
    border-top-color:#1eafdc;
    border-right-color:#1193d5;
    border-bottom-color:#035592;
    border-left-color:#1193d5;
    background:url(../images/account/button-element-hover-bg.png) repeat-x left center;  
}

/* Estilos para aplicaciones auxiliares de validación
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
    display: none !important;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error{
    border: 1px solid #ff0000 !important;
    background-color: #ffeeee !important;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

