
@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <h4 class="panel-heading">Lista de Notas de Ingreso</h4>
    <div class="panel-body">       
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label col-md-5 col-sm-4 col-xs-12">Fecha Nota Ingreso:</label>
                        <div class="col-md-7 col-sm-8 col-xs-12">
                            <div class="input-group">
                                <input type="text" class="form-control" />
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label col-md-5 col-sm-4 col-xs-12 visible-sm">&nbsp;</label>
                        <div class="col-md-7 col-sm-8 col-xs-12">
                            <div class="input-group">
                                <input type="text" class="form-control" />
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label col-md-5 col-sm-4 col-xs-12">N° Nota Ingreso:</label>
                        <div class="col-md-7 col-sm-8 col-xs-12">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-sm">
                        <label class="control-label col-md-3 col-sm-4 col-xs-12">Proveedor:</label>
                        <div class="col-md-9 col-sm-8 col-xs-12">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group form-group-sm">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-default btn-sm form-control">
                                <i class="fa fa-fw fa-search"></i>Buscar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <a class="btn btn-primary" href="~/NotaIngreso/Create">Nuevo</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">Acciones</th>
                            <th class="text-center">Nro Nota Ingreso</th>
                            <th class="text-center">Nro Orden Compra</th>
                            <th class="text-center">Fecha Creación</th>
                            <th class="text-center">Proveedor</th>
                            <th class="text-center">Estado</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: notas">                       
                        <tr>
                            <td class="text-center">
                                <i class="fa fa-fw fa-search" data-bind="click: $root.ver"></i>
                                <i class="fa fa-fw fa-pencil" data-bind="click: $root.editar"></i>
                                <i class="fa fa-fw fa-trash-o" data-bind="click: $root.eliminar"></i>
                            </td>
                            <td class="text-center" data-bind="text: $data.NumeroNotaIngreso"></td>
                            <td class="text-center" data-bind="text: $data.NumeroOrdenCompra"></td>
                            <td class="text-center" data-bind="text: util.date.format($data.Fecha, 'dd/MM/yyyy hh:mm tt')"></td>
                            <td class="text-center" data-bind="text: $data.UsuarioRecibo"></td>
                            <td data-bind="text: $data.Observaciones"></td>
                        </tr>                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="modal-nota" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-full-screen" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Nota de Ingreso</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="form-group">
                        <label>Nro Nota Ingreso:</label>
                        <input type="text" class="form-control" data-bind="value: NotaIngreso.NumeroNotaIngreso" />
                    </div>
                    <div class="form-group">
                        <label>Fecha:</label>
                        <input type="text" class="form-control" data-bind="value: NotaIngreso.Fecha" />
                    </div>
                    <div class="form-group">
                        <label>Nro Orden Compra:</label>
                        <input type="text" class="form-control" data-bind="value: NotaIngreso.NumeroOrdenCompra" />
                    </div>
                    <div class="form-group">
                        <label>Usuario Recibo:</label>
                        <input type="text" class="form-control" data-bind="value: NotaIngreso.UsuarioRecibo" />
                    </div>
                </div>                
            </div>
            <div class="modal-footer">                
                <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/ViewModel/NotaIngreso.js"></script>


