<form id="frmAlertaActividad">
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nombre:</label>
                        <div class="col-sm-10">
                            @Html.TextBox("Nombre", "", new { @class = "form-control text-uppercase", @id = "txtNombreAlerta", @validable = "required ValidarNombre", maxlength = "30" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-5 control-label">Fecha Inicio:</label>
                        <div class="col-sm-7">
                            @Html.TextBox("FechaInicio", "", new { @class = "form-control text-uppercase", @id = "txtFechaAlertaInicio", @validable = "required ValidarFechaInicio" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">Repetir cada (dias):</label>
                        <div class="col-sm-7">
                            @Html.TextBox("RepetirCada", "", new { @class = "form-control", @id = "txtRepetirCadaAlerta", @validable = "required ValidarRepetirCada" , maxlength = "1"})
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">Disparador:</label>
                        <div class="col-sm-7">
                            <select id="slcDisparadorAlerta" class="form-control" validable="required ValidarDisparador">
                                <option value="">Seleccione</option>
                                <option value="1">Fecha Cierre Planificado</option>
                                <option value="2">Estado Actividad</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-5 control-label">Fecha Fin:</label>
                        <div class="col-sm-7">
                            @Html.TextBox("FechaFin", "", new { @class = "form-control text-uppercase", @id = "txtFechaAlertaFin" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label"></label>
                        <div class="col-sm-7">
                           <br />
                            &nbsp;
                        </div>
                    </div>
                    <div class="form-group" id="divDisparadorEstado" style="display:none">
                        <label class="col-sm-5 control-label">Estado</label>
                        <div class="col-sm-7">
                            <select id="slcDisparadorEstadoAlerta" class="form-control" name="DisparadorEstadoActividad">
                                <option value="">Seleccione</option>
                                <option value="Completado">Completado</option>
                                <option value="Ejecutandose">Ejecutandose</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-sm-12" style="text-align: right;">
                        <input id="btnGuardarAlertaActividad" class="btn btn-primary" type="button" value="Guardar" />

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-sm-12">
        <h3>AlertasConfiguradas</h3>
    </div>
</div>
<div class="table-responsive">
    <div id="grdAlerta">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-sm-12" style="text-align: right;">
                <input id="btnCerrarAlertaActividad" class="btn btn-default btn-filter" type="button" value="Cerrar" />
            </div>
        </div>
    </div>
</div>
<br />

