
@{
    ViewBag.Title = "Constancia de Preparado";
}

<h2>Lista de Constancia de Preparado</h2>

<form class="form-inline" role="form">
    <div class="form-group">
        <label class="col-lg-4 control-label">Nro Constancia</label>
        <div class="col-lg-8">
            <input id="txtNroConstancia" class="form-control" placeholder="Nro Constancia" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-4 control-label">Fecha Constancia</label>
        <div class="col-lg-8">
            <input id="txtFecConstancia" type="date" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-4 control-label">Nombre Preparado</label>
        <div class="col-lg-8">
            <input id="txtNomPreparado" class="form-control" placeholder="Nombre Preparado" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-4 control-label">Sucursal Orden</label>
        <div class="col-lg-8">
            @Html.DropDownList("Sucursales", new SelectList(ViewBag.Sucursales, "Value", "Text"), new { @id = "selSucursal", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-10">
            <button id="btnBuscar" type="button" class="btn btn-primary">Buscar</button>
        </div>
    </div>
</form>

<br />
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Resultado</div>
    <div class="table-responsive">
        <!-- Table -->
        <table class="table table-striped table-bordered table-hover table-responsive">
            <thead>
                <tr>
                    <th>Nro Constancia</th>
                    <th>Fecha</th>
                    <th>Sucursal</th>
                    <th>Nombre Preparado</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody id="tbConstanciaContent"></tbody>
        </table>
    </div>
</div>
<br />



@section Scripts {
    @Scripts.Render("~/bundles/ListaConstancia")
}