<table style="width: 100%" id="tablaBusquedaProducto"></table>
<div style="width: 100%" id="barraBusquedaProducto">
</div>

<script type='text/javascript' id="ListarProducto">

        var grillaProductos = 'tablaBusquedaProducto';
        var dialogDelete = 'dialog-DetalleEliminar';
        var dialogAlter = 'dialog-alert';
        var SeleccioneRegistro = 'Seleccione';
        var titleBtn1 = 'Aceptar';
        var titleBtn2 = 'Cancelar';
        var TituloEliminar = 'Eliminar';

        var ListaTodosProducto = new Array();
        var idEditar = 0;

        $(document).ready(function () {
            CrearDialogPopUp();
            ListarProductos();
            CargarProductos();

        });


        function CrearDialogPopUp() {
            var arrayDialog = [
                { name: "dialog-ListaProducto", width: '500', height: '300', title: 'Lista de Productos', resizable: false }
            ];
            SIG.CreateDialogs(arrayDialog);
        }

        function CreateDialogsConfirmAndDeleteDetalle() {
            var arrayDialog = [{ name: "dialog-DetalleProducto", width: '910', height: '580', title: 'OrdenCompra' }];
            SIG.CreateDialogs(arrayDialog);

            var arrayDialogConfirm = [
                { name: dialogDelete, height: 150, width: 300, title: TituloEliminar, titleBtn1: TituloEliminar, titleBtn2: titleBtn2, strFun: 'EliminarDetalle' }
            ];

            SIG.CreateDialogsConfirm(arrayDialogConfirm);
        }

        function ListarProductos() {

            $('#' + grillaProductos).jqGrid('GridUnload');

            var colNames = ['Id','Codigo', 'Nombre Articulo', "Unidad Medida", "Precio"];
            var colModels = [
                { name: 'Id', index: 'Id', align: 'center', hidden:true, width: 100 },
                { name: 'Codigo', index: 'Codigo', align: 'center', width: 100 },
                { name: 'Nombre', index: 'Nombre', align: 'center', width: 200 },
                { name: 'UnidadMedida', index: 'UnidadMedida', align: 'left', width: 100 },
                { name: 'Precio', index: 'Precio', align: 'right',  width: 100 },
            ];

            var opciones = {
                GridLocal: true,
                nuevo: false,
                editar: false,
                eliminar: false,
                search: false,
                Lenguaje: 'es',                                                
                dialogDelete: dialogDelete,
                Mensaje: 'SeleccioneRegistro',
                SinRegistro: 'SinRegistro',
                AlertTitle: 'Detalle',
                DblClickHandler: DblClickHandlerProductos,
                rowNumbers: [5, 10, 15, 20, 50],
                rowNumber: 5,
                footerrow: true,
                LoadCompleteHandler: LoadCompleteHandlerOrdenCompra
            };
            SIG.Grilla(grillaProductos, 'barraDetalle', 'hfIdentificadorDetalle', 'auto', 'auto', '', '', 'Id', colNames, colModels, 'Id', opciones);
            $("#" + grillaProductos).parents('div.ui-jqgrid-bdiv').css("max-height", "85px");
        }

        function DblClickHandlerProductos(rowid) {
            debugger;
            var model = jQuery("#" + grillaProductos).jqGrid("getRowData", rowid);
            $("#txtNombreArticulo").val(model.NombreArticulo);
            $("#IdArticulo").val(model.Codigo);
            $('#dialog-ListaProducto').html('');
            jQuery("#dialog-ListaProducto").dialog("close");
           
        }

        function LoadCompleteHandlerOrdenCompra(miGrid) {
        }

        function CargarProductos() {
            var opciones = {
                url: '@Url.Action("ListarDetalle", "OrdenPedido", new { Area = "OrdenPedido" })', 
                parametros: {
                    Id: $("#Codigo").val()
                }
            };

            SIG.Ajax(opciones, function (response) {
                if (response.Success) {
                    ManageListaOrdenDetalle(response.Data);
                    ListaTodosProducto = jQuery("#" + grillaProductos).jqGrid('getGridParam', 'data');
                    debugger;
                    jQuery("#" + grillaProductos).trigger('reloadGrid');
                }
            });
        }


        function ManageListaOrdenDetalle(response) {
            var agregar = true;
            $.each(response, function (i, v) {
      
                    var myData =
                    {
                        Id: v.Id,
                        Codigo: v.Codigo,
                        NombreArticulo: v.NombreArticulo,
                        UnidadMedida: v.UnidadMedida,
                        Precio: v.Precio,
                    };
                    jQuery("#" + grillaProductos).jqGrid('addRowData', v.Id, myData);
                    //jQuery("#" + grillaProductos).jqGrid('addRowData', v.Id, myData);
                
             
            });
        }



</script>
