<div class="form-horizontal">
    <div class="col-sm-11">
        <div class="row">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Articulo:</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <select id="selArticulo" class="form-control"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Unidad:</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="txtUnidad" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Cantidad:</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="txtCantidad" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Articulo:</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <textarea id="txtObservacion" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function AgregarProducto(popupObj, parametroHandlers) {
        parametroHandlers.functionOk();
    }

</script>