html, body { font-family: 'Trebuchet MS', Tahoma, Arial; font-size: 13px; margin: 0; padding: 0; height: 100%; }

/*Reseed values bootstrap*/
h1, h2, h3, h4, h5 { margin-top:0; }
textarea { resize: none; }
ul, li { margin: 0; padding: 0; }
.form-control:focus { border-color: #ccc; }
.well { margin: 10px 0; }
label { font-weight: normal; }
div:focus, span:focus, button:focus { outline: none; }
input[type='text'], input[type='password'], select, textarea { border: 1px solid #ccc; }
input:focus, select:focus, textarea:focus { border-color: #ccc; }
input[type='text'], input[type='password'], select, textarea, .form-control, input:focus, select:focus, textarea:focus, .well { box-shadow: none !important; }
input[type='text'], input[type='password'], select, textarea, .panel, .input-group-addon, .form-control, .btn, .well, .alert, .progress { border-radius: 0 !important; }
input:focus, select:focus, textarea:focus, .btn:focus, .btn:active:focus, .btn.active:focus { outline: 0 none !important; }

/*.checkbox-inline label, .radio-inline label { font-weight:normal; }
span.radio-inline label { padding-right:10px; }
.radio-group td > span { display:inline-block; padding-left: 20px; font-weight: 400; vertical-align: middle;  padding-top: 7px; }
.radio-group td > span input[type=radio] { position:absolute; margin:4px 0 0; margin-left:-20px; }
.radio-group td > span label { font-weight:400; padding-right:10px; }*/


