

<fieldset class="panel">
    <legend style="font-size: 16px !important;">Datos de Empleado</legend>

    <div id="divDatos" style="width: 45%; float: left;">

        <input id="hd_Cod_empleado" type="hidden" />

        <div style="width: 100%; padding-bottom: 10px; float: left;">
            <div style="float: left; width: 100px;">
                <span style="font-size: 16px;">Nombre:</span>
            </div>
            <div style="float: left;">
                <input type="text" id="txtNombreEmpleado" class="input form-control search" style="width: 300px;" disabled="disabled" />
            </div>
        </div>
        <div style="width: 100%; padding-bottom: 10px; float: left;">
            <div style="float: left; width: 100px;">
                <span style="font-size: 16px;">Puesto:</span>
            </div>
            <div style="float: left;">
                <input type="text" id="txtPuestoEmpleado" class="input form-control search" style="width: 300px;" disabled="disabled" />
            </div>
        </div>
        <div style="width: 100%; padding-bottom: 10px; float: left;">
            <div style="float: left; width: 100px;">
                <span style="font-size: 16px;">Perfil:</span>
            </div>
            <div style="float: left;">
                <input type="text" id="txtPerfilEmpleado" class="input form-control search" style="width: 300px;" disabled="disabled" />
            </div>
        </div>
        <div style="width: 100%; padding-bottom: 10px; float: left;">
            <div style="float: left; width: 100px;">
                <span style="font-size: 16px;">Area:</span>
            </div>
            <div style="float: left;">
                <input type="text" id="txtAreaEmpleado" class="input form-control search" style="width: 300px;" disabled="disabled" />
            </div>
        </div>

    </div>
    <div id="divFoto" style="width: 55%; float: left;">
        <img src="~/Content/images/User.png" style="height: 160px; width: 160px;" />
    </div>
</fieldset>

