@import url('global.css');
/*HTML
-----------------------------------------------------------*/
body{
    background:#d6e8ff url('../images/pagebackground.gif') repeat-x;    
}

/*	ELEMENTOS DE LAYOUT  
----------------------------------------------------------*/
/*Header*/
.headercolor{
	height: 58px;
	background:#39497a url('../images/bgheadercolor.png') repeat-x left top;
}
.header{
	background-color:#39497a;
	height:100%;
	width:100%;
	background: url('../images/headerbg.png') no-repeat left top;
}
.headertitle{
    padding:16px 20px;
}
.headertitle h1{
    color:#fff;    
}
.headerSignIn {
	padding: 5px 4px 5px 4px;
	color: #d6e8ff;
	float:right;
	width:50%;
	height:39px;
	text-align:right;
	font-family:"Helvetica Neue", Tahoma, verdana, arial !important;
	font-size:11px !important;
}
.headerSignIn p{
	margin:0;
	padding:0;
	line-height:1.3em !important;
}
.SignInbold{
	font-weight:bold;
}
.headerSignIn a{
	color: #d6e8ff !important;
}

/*toolbar*/
.toolbar{
	height: 27px;
	background-image: url('../images/appmenu_back.gif');
	background-repeat: repeat-x;
	color: #000;
	padding-right: 4px;
	padding-left: 4px;
}
ul.menubarleft {
	list-style:none;
	padding:2px 0 0 0;
	margin:0;
	color:#15428b;
}
ul.menubarleft li{
	float:left;
	line-height:21px;
	.line-height:20px;
	height:21px;
	padding:1px 0 2px 0;
	.padding-bottom:1px;
	margin:0;
}
textarea {
    resize: none;
}

ul.menubarleft li a{
	color:#15428b;
	text-decoration:none;
	padding:1px 9px;
	display:inline-block;
	height:20px;
}
ul.menubarleft li a:hover{
	border: 1px solid #FFB74B;
	padding:0 8px;
	background-image: url('../images/app_titlebar_hover.gif');
	background-repeat: repeat-x;
}
.menuspacer
{
	background: url('../images/control_imgs_1.gif') no-repeat 1px -72px;
	height: 22px;
	.height:23px;
	width:5px;
	margin-top:0px !important;
	padding-right:0px !important;
	padding-left:0px !important;
}

/*Panel de navegacion*/
.navpane {
    border:1px solid #6693cf;
	border-left:0;
	border-top:0;
	width: 100%;
}
.panel {
  
}
.paneltop {
	background-image: url('../images/workplaceBackground.png');
	background-repeat: repeat-x;
	height: 27px;
	width: 100%;
	line-height: 2em;
}
.paneltop  h3{
	padding:0 23px;
	color: #14428B !important;
	font-weight: bold;
	font-size: 10pt;
	display:inline-block;
	line-height:27px;
}
.panelbody, .panelbodyeast{
	height:120px;
	background: #fff url('../images/nav_header_back.gif') repeat-x left top;
	overflow: auto;
}
.panelbodyeast{height:50px;}

.panelbody, .panelbodyeastLog{
	height:120px;
	background: #fff url('../images/nav_header_back.gif') repeat-x left top;
	overflow: auto;
}
.panelbodyeastLog{height:50px;}

.panelbody, .panelbodysurLog{
	height:120px;
	background: #fff url('../images/nav_header_back.gif') repeat-x left top;
	overflow: auto;
}
.panelbodysurLog{height:50px;}

.panelitems ul{
	list-style:none;
	margin:0;
	padding:0;	
}
.panelitems ul li, .ie .panelitems ul li{
    background:url(../images/areaButton.png) repeat-x;
	height:32px;
	padding:0;
	margin:0;
	font-weight:bold;
	position:relative;
}
.panelitems ul li a{
  	display:inline-block;
	width:100%;
	color:#15428b !important;
	line-height:32px;
	font-size: 10pt;
	font-variant: small-caps;
    text-transform: none;
}
.panelitems ul li a img{
	margin:0 0 0 5px;
	_height:29px;
}
.panelitems ul li a span{
	vertical-align:top;
	display:inline-block;
}
.pselected{
	background-image: url('../images/selectedAreaButton.png')!important;
	background-repeat: no-repeat;
	background-position: left top;
}
.phover{
	background-image: url('../images/highlightedAreaButton.png')!important;
	background-repeat: no-repeat;
	background-position: left top;
}

.panelEjecuciones ul{
	list-style:none;
	margin:0;
	padding:0;	
}
.panelEjecuciones ul li, .ie .panelitems ul li{
    background:url(../images/areaButton.png) repeat-x;
	height:32px;
	padding:0;
	margin:0;
	font-weight:bold;
	position:relative;
}
.panelEjecuciones ul li a{
  	display:inline-block;
	width:100%;
	color:#15428b !important;
	line-height:32px;
	font-size: 10pt;
	font-variant: small-caps;
    text-transform: none;
}
.panelEjecuciones ul li a img{
	margin:0 0 0 5px;
	_height:29px;
}
.panelEjecuciones ul li a span{
	vertical-align:top;
	display:inline-block;
}

/*Content*/
.aplication{
	width:100%;
	border-top:1px solid #6693cf;
}
.maintable {
	width: 100%;
	height: 100%;
	border-spacing:0;
	background-color:#d6e8ff;
}
.maintableleft {
	width: 192px;
	vertical-align: top;
}
.maintableright {
	vertical-align: top;
}
.aplicationheadline{
	border-top:1px solid #6693cf;
}
.aplicationContent {
	overflow: auto;
}

/*Footer*/
.footer {
	font-family: "Helvetica Neue", Tahoma, verdana, arial;
	background-image: url('../images/footstatusbar.gif') !important;
	background-repeat: repeat-x;
	width:100%;
	height:22px;
	font-size:11px;
	border-bottom: 1px solid #485673;
}
.footerstatus, .footerinfo {
	padding-left: 8px;
	line-height: 22px;
	.line-height:21px;
	display:inline-block;
	height:22px;
}
.footerinfo
{
    float:right;
    padding:0 8px 0 0;
}
/* SIDE MENU   
----------------------------------------------------------*/
ul.menuNavegacion, ul.menuNavegacion li 
{
    margin:0;
    padding:0;    
}
.menuNavegacion ul, li
{
    padding: 0;
    margin: 0;
    list-style: none;
}
.menuNavegacion
{
    width: 100%;
}
.menuNavegacion span
{
    display: block;
    color: #15428b;
    padding: 5px 8px 5px 8px;
    background: #fff url('../images/nav_header_back.gif') repeat-x left top;
    border-top:1px solid #6693cf;
    font-weight:bold;
}
/* Css hack to disable unwanted behavior from jquery accordion (puts a span within the header span)*/
.menuNavegacion .ui-icon
{
    display: inline;
    padding: 0px;
    border: 0px;
    font-weight: normal;
}
.menuNavegacion ul span
{
    background-image:none;
    padding: 0px;
    border: 0px;
    font-weight: normal;
}
.menuNavegacion ul a
{
    display: block;
    padding: 3px 0px 3px 0px;
    cursor: pointer;
}
.menuNavegacion ul span
{
    display: block;
    padding: 3px 0px 3px 0px;
    cursor: pointer;
}
.menuNavegacion ul
{
    margin-left: 10px;
}
.menuNavegacion ul .expandable
{
    padding-left: 16px;
    background-image: url(../images/toggle-expand-blue.png);
    background-repeat: no-repeat;
    background-position: 0px 4px;
}
.menuNavegacion ul .collapsable
{
    padding-left: 16px;
    background-image: url(../images/toggle-collapse-blue.png);
    background-repeat: no-repeat;
    background-position: 0px 3px;
}
.menuNavegacion span:hover
{
    cursor: pointer;
}
.menuNavegacion a
{
    text-decoration: none;
}
.menuNavegacion a:hover
{
    color:#15428b;
    text-decoration: underline;
}
.menuNavegacion a.selected
{
    color:#15428b;
    text-decoration: underline;
}
